<!doctype html>
<html>
<head>

<link
    rel="stylesheet"
    type="text/css" href="{{ url_for('static', filename='style.css') }}" />
 
<title>Alfred</title>

<script>

var mode = 'light'

function changeMode() {
    switch(mode) {
        case 'light':
            document.body.style.backgroundColor = "white";
            document.body.style.color = "black";
            mode = 'dark'
            break;
        case 'dark':
            document.body.style.backgroundColor = "black";
            document.body.style.color = "white";
            mode = 'light'
            break;
        default:
            document.body.style.backgroundColor = "white";
            document.body.style.color = "black";
    }
}

function currentTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = formatTime(m);
    s = formatTime(s);
    var time_now = h + ':' + m + ':' + s;
    document.getElementById("currentTime").innerHTML = time_now;
    var t = setTimeout(currentTime, 500);
}

function formatTime(i) {
    if (i < 10) {i = "0" + i};
    return i;
}

function tellTime() {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "{{ url_for('time') }}", true);
    xhttp.send();
}

function readWiki() {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "{{ url_for('speak') }}");
    xhttp.setRequestHeader(
        "Content-Type",
        "application/json;charset=UTF-8");
    /*title = document.getElementById("w_title").innerHTML */
    summary = document.getElementById("w_summary").innerHTML
    xhttp.send(JSON.stringify({"string": summary } ));
}

function bodyLoaded() {
    currentTime();
}

</script>
</head>

<body onload="bodyLoaded()">
<div class="menu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#" 
            onclick="changeMode();return false;"
            title="Click to change color mode.">Mode</a>
        </li>
        <li>
            <a href="#" 
            onclick="tellTime();return false;"
            title="Click to get the time.">Time</a>
        </li>
        <li>
            <a href="#" 
            onclick="readWiki();return false;"
            title="Click to get some facts.">Read facts</a>
        </li>
    </ul>
</div>

<div class="display">
    <p id="currentTime"></p>
</div>

{% if r_word %}
<div class="display">
    <h3 id="r_word">Random word: {{ r_word }}</h3>
</div>
{% endif %}

{% if wp_article %}
<div class="display">
    
    <h2 id="w_title">
        Wikipedia: <a href="{{ wp_article.url }}">{{ wp_article.title }}</a>
    </h2>
    
    <p id="w_summary">{{ wp_article.summary }}</p>
</div>
{% endif %}

</body>
</html>