<!doctype html>
<html>
<head>

<link
    rel="stylesheet"
    type="text/css" href="{{ url_for('static', filename='style.css') }}" />

    <script src="{{ url_for('static', filename='utils.js') }}" async=""></script>
 
<title>Wiki</title>

</head>

<body onload="bodyLoaded()">
<div class="display menu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#" 
            onclick="changeMode();return false;"
            title="Click to change color mode.">Mode</a>
        </li>
        <li>
            <a href="#" 
            onclick="tellTime();return false;"
            title="Click to get the time.">Time</a>
        </li>
        <li>
            <a href="#" 
            onclick="readWiki();return false;"
            title="Click to get some facts.">Read facts</a>
        </li>
    </ul>
</div>

<div class="display">
    <p id="currentTime"></p>
    <p id="currentWeekday"></p>
    <p id="currentDate"></p>
</div>

{% if r_word %}
<div class="display">
    <p id="r_word">Random word: {{ r_word }}</p>
</div>
{% endif %}

{% if wp_article %}
<div class="display">
    
    <h2 id="w_title">
        Wikipedia: <a href="{{ wp_article.url }}">{{ wp_article.title }}</a>
    </h2>
    
    <p id="w_summary">{{ wp_article.summary }}</p>
</div>
{% endif %}

</body>
</html>